body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    display: flex;
    align-items: center; /* Aligner verticalement le logo et le texte */
    justify-content: center; /* Centrer le contenu */
    gap: 10px; /* Espacement entre le texte et le logo */
    margin-bottom: 10px;
    font-family: "Montserrat", sans-serif; /* Police Montserrat */
    font-size: 24px; /* Taille du texte */
    color: black; /* Couleur du texte */
}

.logo {
    width: 100px; /* Taille du logo */
    height: 100px; /* Taille du logo */
    background: url("../images/logo.png") no-repeat center center/contain; /* Remplacez par l'URL de votre logo */
}
hr {
    margin: 10px 0;
    border: none;
    border-top: 1px solid #ccc;
}

.form-group {
    display: flex;
    margin-bottom: 10px;
}

.form-group input,
.form-group select {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group input[type="radio"] {
    margin-right: 5px;
}

.form-btn {
    padding: 10px 15px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    border-radius: 20px;
    border: 0 !important;
    outline: 0 !important;
    background: teal;
    color: white;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 100%;
}

.form-btn:active {
    box-shadow: none;
}
#strengthMessage {
    font-weight: bold;
}

.weak {
    color: red;
}

.medium {
    color: orange;
}

.strong {
    color: green;
}
.textPass {
    font-style: italic;
    font-size: 0.8em;
    background-color: blanchedalmond;
}
html {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}
.sign-up-label {
    font-size: 14px;
    color: #747474;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    margin-left: 50px;
}
.sign-up-link {
    margin-left: 1px;
    font-size: 11px;
    text-decoration: underline;
    text-decoration-color: teal;
    color: teal;
    cursor: pointer;
    font-weight: 800;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
